@keyframes deslizarParaBaixo {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes surgirDeBaixo {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

body {
    background-color: rgb(255, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    text-align: center;
}

header {
    background-color: rgb(29, 66, 55);
    color: white;   
    padding: 10px 20px;
    margin-bottom: 10px;
    width: 50%;
    margin: 20px auto;
    
    animation: deslizarParaBaixo 0.8s ease-out forwards;
}

.introducao {
    background-color: rgb(7, 110, 78);
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: left;
    
    opacity: 0;
    animation: surgirDeBaixo 0.8s ease-out 0.3s forwards;
}

.container-formulario {
    background-color: rgb(7, 110, 78);
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    color: white; 
    
    opacity: 0;
    animation: surgirDeBaixo 0.8s ease-out 0.6s forwards;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left; 
}

label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, button {
    padding: 8px;
    border-radius: 5px;
    border: none;
    outline: none;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: rgb(88, 4, 4);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

#botaoAdicionar {
    background-color: #04ea8e;
    color: rgb(255, 255, 255);
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}

#botaoVerificar {
    background-color: #04ea8e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 20px;
}

button:hover {
    background-color: #dddddd;
    animation: pulsar 0.6s infinite ease-in-out;
}

#botaoAdicionar:hover, #botaoVerificar:hover {
    background-color: #03c779;
}