body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    margin: 0px;
}

header {
    background-color: rgb(29, 66, 55);
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
}

.containerFilmes {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.cardFilme {
    background: white;
    padding: 15px;
    border-radius: 0px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    border: 3px solid #9ed0b4;
    text-align: left;
}


.cardFilme h3 {
    margin-top: 0;
    text-align: center;
    color: #333;
}

.genero-acao{
    border-color: #000000;
}

.genero-comedia{
    border-color: #ffcc00;
}

.genero-drama{
    border-color: #26a503;
}

.genero-romance{
    border-color: #ff0000;
}

.genero-terror{
    border-color: #cd05a8;
}


#botaoVoltar{
    background-color: #04ea8e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}