body{
    background-color: rgb(252, 252, 252);
    text-align: center;
    margin: 0px;
    position:relative;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 150px auto;
    font-size: 18px;
    
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

header{
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: rgb(24, 151, 255);
    color: white;
    padding: 10px 0px;
    grid-column: span 2;
    animation: iniciarDeCima 2s ease-in normal;
}

.menuLateral{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(182, 231, 250);
    width: 300px;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    animation: iniciarDeLado 2s ease-in normal;
}

.menuLateral a{
    color: black;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(36, 211, 255);
    height: 50px;
    border-radius: 20px;
    padding: 10px 0px;

    animation: iniciar 2s ease-in normal;
    
    
}

.menuLateral a:hover{
    transform: translateY(-10px);
    background-color: rgb(12, 183, 226);
}

.containerNoticias{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.noticias{
    
    background-color:rgb(103, 188, 245) ;
    border-radius: 20px;
    margin: 0 auto;
    width: 1200px;
    animation: iniciar 2s ease-in normal;
}


@keyframes iniciar {
    0%{
        transform: translateY(+10px);
        opacity: 0%;
    }
    100%{
        transform: translateY(0);
        opacity: 100%;
    }
}
@keyframes iniciarDeLado {
    0%{
        transform: translateX(+10px);
        opacity: 50%;
    }
    100%{
        transform: translateX(0);
        opacity: 100%;
    }
}

@keyframes iniciarDeCima {
    0%{
        transform: translateX(+10px);
         transform: translateY(-30px);
    }
    100%{
        transform: translateX(0);
        transform: translateY(0);
    }
}