*{
    box-sizing: border-box;
}

body{
    background-color: #f4f7f6; 
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: #333;
    font-size: 18px; 
    line-height: 1.7; 
    margin: 0;
    padding: 0;
}
.tituloPrincipal{
    background-color: cadetblue;
    padding: 40px 0;
    margin-top: 0px;
    color: white;
    text-align: center;
    font-size: 28px;
    margin-bottom: 0;
}

section{
    max-width: 900px;
    margin: 40px auto;
    padding: 40px;
    background-color: white;
    border-radius: 8px;

}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 26px;
    color: #2980b9; 
    margin-top: 0;
    margin-bottom: 25px;
    border-bottom: 2px solid #ecf0f1;
}

.introducao{
    text-align: center;
    background-color: #34495e;
    color: white;
    padding: 40px; 
    margin-bottom: 0px;
}
.introducao h2 {
    border-bottom: 2px solid #576574;
    color: white;
}

.paragrafoIntroducao {
    text-align: justify; 
    margin: 0;
}

ul, ol {
    margin-left: 10px;
    padding-left: 30px;
}

li {
    margin-bottom: 15px;
    text-align: justify;
}

li br {
    display: block;
    margin-bottom: 10px;
}


.pGrafo{
    font-size: 24px;
    color: #2980b9;
}

#grafo{
    display: block;
    margin: 0 auto;
    width: 600px;
    height: auto;
    
}

.curiosidades{
    text-align: center;
    margin-bottom: 40px;
    background-color: rgb(70, 115, 117);
    padding: 10px;
}

.curiosidades a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(216, 213, 213);
    font-weight: bold;
    margin: 0 15px;
}